// @import "node_modules/bootstrap/scss/bootstrap";

// $theme-colors: (
//   "primary": #,
//   "danger": #ff4136
// );
*:focus {
    outline: none;
}

.modal-header{
    border-color: #de9744;
}
.modal-content{
    color: #fff;
    // height: 50vh;
    // width: 50vw;
    background-image: linear-gradient(145deg, #de9744, #f0a978);
}
//eebd91
.modal-body{
    text-align: center;
    background:#de9745;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#f9ebde;
}

.inputholder{
    margin: auto;
    border-bottom: 2px solid;
    border-bottom-color: #eebd91;
}
.inputholder input {
    text-align: center;
    background-color: transparent;
    border-color: transparent;
    height: 39px;
    width: 90%;
    line-height: 39px;
    padding: 0 .5rem;
    margin-bottom: 6px;
    font-size: 25px;
    margin-top: 30px;
}
.desctext{
    padding: 1rem;
    font-size: 1.3em;
    color:#f4d0b2;
}
.fabholder{
    span{
        height: 4em;
        width: 4em;
        margin: 3em;
        cursor: pointer;
        margin: 10% auto;
        border-radius: 100%;
        padding: 1em;
        display: flex;
        box-shadow: 0px 0px 17px 0px #444;
        background: #fff;
        color: black;  
    }
}
.modalinside{
    // height: 30em;
    // width: 100%;
    display: flex;
    border-radius: 7px;
}

.orpart{
    // flex-grow: 1;
    
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-image: linear-gradient(145deg, #de9744, #f0a978);
    h3{
        padding: 0;
        font-weight: bold;
        margin: 0;
        margin-left: 25px;
        margin-top: 20%;
    }
    .sip{
        margin-left: 25px;
        text-align: left;
        margin-top: 10%;
    }
    .sipdesc{
        margin-left: 25px;
        text-align: left;
        margin-top: 5%;
        color:#eab681;
    }
}
.bheader{
    display: flex;
    justify-content: space-between;
}
.bheadText{
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;  
    h4{
        text-align: center;
    }
    
}
.bpart{
    background-image: linear-gradient(145deg, #10233b, #214166);
    // flex-grow: 3;
    padding: 2em;
    padding-bottom: 6em;

    .binputholder{
        margin: auto;
        border-bottom: 1px solid;
        border-bottom-color: #8994a1;
        width: 50%;
        input {
            color:#8994a1;
            text-align: center;
            background-color: transparent;
            border-color: transparent;
            height: 39px;
            width: 90%;
            line-height: 39px;
            padding: 0 .5rem;
            margin-bottom: 6px;
            font-size: 25px;
            margin-top: 30px;
        }
        #rupee{
            font-size: 1.4em;
        }
    }
    .max{
        color:#8794a4;
        text-align: center;
        font-size: 0.8em;
    }
    .pills{
        margin-top: 1em;
        text-align: center;
    }
    .pill{
        border: 1px #fff solid;
        border-radius: 25px;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right:  1rem; 
        margin:3px ;
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 600px) {
    
    .modalinside{
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
    }
    .pills{
        margin-top: 1em;
        height: 4em ;
    }
    .pill{
        display: inline-block;
    }
    .bpart{
        padding-bottom: 4em;
    }
    .opart{
        padding-top: 20px;
        padding-bottom: 1em;
    }
}

.tbpart{
    flex-grow: 99;
}
.topart{
    flex-grow: 2;
}
.card{
    background: #ffffff;
    border-radius: 7px;
    .cardHeader{
        color:#c8c8c8;
        text-align: center;
        padding: 0.5em;

    }
    .bottombar{
        height: 32px;
        width: 100%;
        background: #f8f8f8;
        border-top: 1px solid #ededed;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        
    }
}
.sli{
    display: flex;
    padding: 1em;
    color:black;
    .yearcircle{
        background: #f8f8f8;
        color: #929292;
        padding: 7px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 4em;
        width: 4em;
    }
    .savings{
        padding: 0.5em;
        padding-bottom: 1em;
        flex-grow: 1;
        border-bottom: 1px #929292 solid;
       
    }
}
.fgreenbotton{
    display: inline-block;
    background-color: #75c327;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 50%;
    position: relative;
    top:16px;
    left: 25%;
}